.profile {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  background-color: rgb(190, 214, 135);
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.name {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
}
.tag {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.location {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 200;
}

.stats {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats li {
  font-family: sans-serif;
  display: flex;
  border: 3px solid rgb(34, 27, 73);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 10px;
}

.label {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
}

.quantity {
  font-family: sans-serif;
  font-weight: 500;
}
